@media only screen and (max-width: 500px) {
  
	/* Header */

	header {
    	height: 50%;
  	}

  	.header-content {
  		padding: 0 1em;
  	}

	.header-content h2 {
  		font-size: 2em;
 	}
 
	.header-content h1 {
  		font-size: 6em;
  	}

  	.navigation-bar li {
  		text-align: center;
}




  	/* Main */

  	#content {
  		padding: 0 1em 0;
  	}

  	#content h3 {
  		font-family: 'Open Sans', sans-serif;
  		font-size: 1em;
  		font-weight: 700;
  		line-height: 125%;
  	}



  	/* Footer */

  	.footer {
  		padding-left: 1em;
  		padding-right: 1em;
  	}


    /* Portfolio */

    .project-item {
    width: 100%;
    padding-bottom: 100%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 700px) {

	#content {
  		padding: 0 1em 2em;
  	}

  .project-item {
    width: 47%%;
    padding-bottom: 47%;
    }
}