/* Reset styles */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





/* Global */

body {
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'La Belle Aurore', cursive;
}

p, ul, li, a {
  font-family: 'Open Sans', sans-serif;
  line-height: 150%;
}

#content, .header-content, .navigation-bar {
  max-width: 46.875em;
  margin: 0 auto;
  padding: 0 1em 2em;
}






/* Header */

header {
  height: 55%;
  width: 100%;
  background-image: url("https://unsplash.imgix.net/photo-1419064642531-e575728395f2?q=75&fm=jpg&s=490dffe2e11f468947891ab40651e176");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 40%;
  background: ##000099;
  box-shadow: 0px 5px 5px rgba(68,68,68,0.6);
  margin-bottom: 2.5em;
}

.top-navigation {
  width: 100%;
  height: 10%;
  background-color: #4C2D08;
  margin: 0 auto;
  padding: 0;
}

.top-navigation ul {
  margin: 0;
  padding: 0;
  text-align: right;
  white-space: nowrap;
}

.navigation-bar li {
  color: #FFF;
  list-style-type: none;
  font-weight: 700;
  display: inline-block;
  text-align: right;
  padding: 0.5em 0 0 1em;
}

.navigation-bar li > a {
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  text-align: right;
}

.nav-links li.active a {
  color: #F26D05;
  font-weight: 600;
}

.nav-links a:hover {
  color: #F2AD5A;
}

.header-content {
  margin: 0 auto;
  width: 75%;
}

.header-content h1, h2 {
  text-align: center;
}

.header-content h2 {
  font-size: 3em;
  line-height: 0;
  padding-top: 2em;
  color: #4C2D08;
}
 
.header-content h1 {
  font-family: 'La Belle Aurore', cursive;
  font-size: 8em;
  line-height: 0;
  color: #fff;
  text-shadow: 2px 1px 1px #4C2D08;
} 






/* Main content */

h1 {
  font-size: 2.5em;
  padding: 0;
  margin: 1em 0 0.5em 0;
  color: #180040;
}

h3 {
  font-size: 1.5em;
  color: #4C2D08;
  margin: 1em 0 0.25em 0;
}

#content p {
  padding-bottom: 0.5em;
}

#content a:link {
  text-decoration: none;
  color: #5600E5;
  font-weight: 700;
}

#content a:hover {
  color: #F26D05;
}

section {
  padding: 0 1em 0;
}






/* Footer */

footer {
  width: 100%;
  margin: auto;
  background-color: #4C2D08;
  height: 7em;
  padding-top: 2em;
  clear: both;
}

.footer, .footer-list {
  color: #FFF;
  font-size: 0.8em;
  text-align: center;
  vertical-align: center;
}

.footer-list {
  margin: auto;
  padding: 0;
}

.footer-list > li {
  list-style: none;
  display: inline-block;
  padding: 1em 1em 1.5em;
  list-style-position: inside;
}

.footer a, .footer-list a {
  color: #F26D05;
  text-decoration: none;
  font-weight: 600;
}





/* Portfolio page */

.portfolio-copy {
  margin-bottom: 2em;
  }

.projects {
  
  margin: 0 auto;
  overflow: hidden;
  }

.project-list {
  padding: 0;
  margin: auto;
  max-width: 46.875em;
  }
  
.project-item {
  display: inline-block;
  margin: 0 1.5% 3% 1.5%;
  width: 30.333%;
  padding-bottom: 30.333%;
  position: relative;
  float: left;
  }

.project-details {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 2px 5px 5px rgba(68,68,68,0.6); 
  overflow: hidden;
  }
  
.project-details img {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #180040;
  height: 100%;
  position: absolute;
  top: 50%;
     left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  
.project-item h2 {
  position: absolute;
  z-index: 9999;
  width: 100%;
  color: #FFF;
  top: 75%;
  left: 0%;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  text-align: left;
  background: #180040;
  padding: 5% 0 75% 1em;
  word-wrap: break-word;
}



  
